@font-face {
    font-family: 'Migra';
    src: url('./fonts/Migra/Migra-Extrabold.woff2') format('woff2'),
         url('./fonts/Migra/Migra-Extrabold.woff') format('woff'),
         url('./fonts/Migra/Migra-Extralight.woff') format('woff');
    /* Add other font properties as needed */
  }

.shadow-navBar {
    box-shadow: 0px 1px 9.9px 0px rgba(0, 0, 0, 0.29);
}
@tailwind base;
@tailwind components;
@tailwind utilities;